################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/com.dreadscripts.vrcsdkplus.csproj
/com.dreadscripts.vrcsdkplus.sln
